/hw1/hw1_code.X/nbproject/private/
/hw1/hw1_code.X/build/default/
/hw1/hw1_code.X/dist/default/
*.mp4
board.s#*
board.b#*
me433.l#*
*.epf
*.gbrjob
*.cam
*.scr
/hw4/hw4_code.X/nbproject/private/
/hw4/hw4_code.X/build/default/
/hw4/hw4_code.X/dist/default/
*.s#*
/hw5/hw5_code.X/nbproject/private/
/hw5/hw5_code.X/build/default/
/hw5/hw5_code.X/dist/default/
/hw6/hw6_code.X/nbproject/private/
/hw6/hw6_code.X/build/default/
/hw6/hw6_code.X/dist/default/
/hw7/hw7_code.X/nbproject/private/
/hw7/hw7_code.X/build/default/
/hw7/hw7_code.X/dist/default/
/hw8/hw8_code/firmware/hw8_code.X/nbproject/private/
/hw8/hw8_code/firmware/hw8_code.X/build/default/
/hw8/hw8_code/firmware/hw8_code.X/dist/default/
/hw9/hw9_code/firmware/hw9_code.X/nbproject/private/
/hw9/hw9_code/firmware/hw9_code.X/build/default/
/hw9/hw9_code/firmware/hw9_code.X/dist/default/
/hw10/hw10_code/firmware/hw10_code.X/nbproject/private/
/hw10/hw10_code/firmware/hw10_code.X/build/default/
/hw10/hw10_code/firmware/hw10_code.X/dist/default/
*.m~
/hw11/hw11_code/firmware/hw11_code.X/nbproject/private/
/hw11/hw11_code/firmware/hw11_code.X/build/default/
/hw11/hw11_code/firmware/hw11_code.X/dist/default/
*.dru
/hw14/hw14_code/firmware/hw14_code.X/nbproject/private/
/hw14/hw14_code/firmware/hw14_code.X/build/default/
/hw14/hw14_code/firmware/hw14_code.X/dist/default/
/hw16/hw16_code/firmware/hw16_code.X/nbproject/private/
/hw16/hw16_code/firmware/hw16_code.X/build/default/
/hw16/hw16_code/firmware/hw16_code.X/dist/default/
/hw18/hw18_code/firmware/hw18_code.X/nbproject/private/
/hw18/hw18_code/firmware/hw18_code.X/build/default/
/hw18/hw18_code/firmware/hw18_code.X/dist/default/