/hw1/hw1_code.X/nbproject/private/
/hw1/hw1_code.X/build/default/
/hw1/hw1_code.X/dist/default/
*.mp4
board.s#*
board.b#*
me433.l#*
*.epf
*.gbrjob
*.cam
*.scr
/hw4/hw4_code.X/nbproject/private/
/hw4/hw4_code.X/build/default/
/hw4/hw4_code.X/dist/default/
*.s#*
